<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Junsei</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
 <div class="room">
    <div class="room-name">
      <a href="#">11月1日</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">11月2日</a>
    </div>
  </div>
</div>